@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
:root{
    --primary-color: #007AF3;
}

body{
    background: #d2e6eb;
    margin: 0;
    font-family: "Poppins";
}

.navbar{
    background: white;
    padding: 1em;

    .logo{
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.2em;

        span{
            color: var(--primary-color) ;
        }
    }

    .nav-initial{
         display: none;
    }
    
    .container{
        display: flex;
        place-content: space-between;
    }

    .mobile-menu{
        cursor: pointer ;
    }
}


a{
    color: #444444;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section{
    padding: 5em 2em;
}

.hero{
    text-align: center;
}

.lef-col{
    .subhead{
        text-transform: uppercase;
        font-weight: bold;
        color: gray;
        letter-spacing: .3em;
    }

    h1{
        font-size: 2.5em;
        line-height: 1.3em;
        margin-top: .2em;
    }
    
    

    ul.features-list{
        margin: 0;
        padding-left: .1em;
        //come back to this 

        li{
            font-size: 1.1em;
            margin-bottom: 1em;
            margin-left: 2em;
        }
    
    }
}
.features-section{
    background: #ebe1d2;
}
.testimonial-section{
    background:var(--primary-color)
}
.nav-after-click{
    display: block;
}
nav{
    position: fixed;
    z-index: 999;
    width: 16%;
    right: 0;
    top: 0;
    background:var(--primary-color) ;
    height: 110vh;
    padding: 1em;

    ul.primary-nav{
        margin-top: 5em;
    }

    li{
        a{
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;

            &:hover{
                font-weight: bold;
            }

        }

    }
}

.mobile-menu-exit{
    float: right;
    margin: .53em;
    cursor: pointer;
}